body{
    background-color: rgb(68, 68, 68);
}
.grid-container{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    border: 1px solid white;
    padding: 10px 10px;
    row-gap: 1px;
    column-gap: 1px;
    width: 200px;
}
.grid-item{
    width: 100%;
    height: 100%;
}
.grid-item button{
    width: 100%;
    height: 100%;
    border: none;
}
#CE{
    grid-column: 1 / 3;
}
#equals{
    grid-column: 3 / 5;
}
#screen{
    grid-column: 1 / 5;
    width: 100%;
}
.operator{
    background-color: purple;
}
.number{
    background-color: yellow;
}